body {
  background-image: url("./images/2016-05-Life-of-Pix-free-stock-lake-forest-fog-PaulJarvis_crop_compressed_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
}

.container {
  width: 80vw;
  margin: auto;
}

.header {
  height: 30px;
}

.main {
  border-top: solid 1px #333;
}

.section {
  padding: 1vw;
  margin: auto;
}

.inner-50 {
  width: 50%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

a {
  color: #333333;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  color: white;
}

.social-link {
  margin-left: 12px;
}

.header-social-links {
  display: block;
}

.main-social-links {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 760px) {

  .social-link {
    margin-left: 0;
    display: block;
    padding-top: 12px;
  }

  .main {
    padding-top: 12px;
  }

  .header-social-links {
    display: none;
  }

  .main-social-links {
    display: block;
  }

}
