body {
  background-image: url("./images/2016-05-Life-of-Pix-free-stock-lake-forest-fog-PaulJarvis_crop_compressed_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;

}

.container {
  width: 80vw;
  margin: auto;
}

.header {
  height: 30px;
}

.main {
  border-top: solid 1px #333;
}

.section {
  padding: 1vw;
  margin: auto;
}

.inner-50 {
  width: 50%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

a {
  color: #333333;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  color: white;
}

.social-link {
  margin-left: 12px;
}

/*

.main-view-div{
  border-top: solid 1px #333333;
  padding-top: 20px;
}

.navbar-brand{
  padding: 15px 15px 15px 5px;
}

.navbar-right{
  padding-right: 5px;
}

ul.nav a:hover{
  background-color: transparent;
  color: white;
}

ul.nav a:focus{
  background-color: transparent;
  color: #333333;
}

a:focus{
  background-color: transparent;
  color: #333333;
}

.heading-spacer{
  visibility: hidden;
}

.name-div{
  padding-right: 0;
}

.top-row{
  padding-bottom: 15px;
}

.social-icons{
  height: 20px;
}
*/
